@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    padding: 0px;
    margin: 0px;
    font-family: 'poppins';
 
}
.navbar{
    background-color: rgb(255 186 49) !important;
}
nav.navbar.navbar-expand-lg {
    z-index: 99;
    position: fixed;
    width: 100%;
}

main {
    display: block;
}

.portfolio{
    display: flex;
}
aside{
    display: none !important;
}
.imgAside{
    width: 100%;
}
.link {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenuAccueil{
    width: 100%;
    display: none;
    align-items: flex-start;
    flex-direction: column;
}

.alignBlockAcc {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    margin-top: 90px;
}
.description h2{
    margin-left: 40px;
}
.nomPrenom {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    color: #ffba31;
}

.sousTitreAcc {
    margin-top: 15px;
    font-size: 1.40rem;
    width: 80%;
}

.phtProfil {
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 221px;
    width: 40%;
}
.introduction {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonAcc{
    background-color: #ffba31;
    border: none;
    width: 60%;
    height: 2.5rem;
    border-radius: 20px;
    transition: all 0.5s ease-out
}
.buttonAcc li{
    list-style: none;
}
.buttonAcc li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.5s ease-out
}
.buttonAcc:hover{
    background-color: #ffba31b7;
    scale: 0.97;
}
.buttonAcc li a:hover{
    color: #000000;
}
.MesCompetences {
    margin-top: 30px;
    height: 39vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.imgComptetence {
    padding: 5px;
    width: 50px;
    height: 50px;
}
h2 {
    display: flex;
    text-decoration: underline;
    margin-bottom: 12px;
    font-size: 2rem;
}

.contenuPortfolio{
    padding-top: 58px;
    width: 100%;
}

.buttonPortfolio{
    background-color: #ffba31;
    border: none;
    width: 50%;
    margin-top: 20px;
    height: 2.5rem;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: all 0.5s ease-out
}

.buttonPortfolio:hover{
    background-color: #ffba31b7;
    scale: 0.97;
}
.buttonPortfolio a:hover{
    color: #000000;
}

.buttonPortfolio a{
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.5s ease-out
}
.projet_align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projet_align:hover img{

 background-color: #ffba31;
}

.projet_align:hover .enSavoirPlus{
    display: block;
    cursor: pointer;
}
.enSavoirPlus{
    margin-top: 100px;
    position: absolute;
    display: none;
}


.titre{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.titre p {
    padding: 15px;
    text-align: center;
    margin-top: 135px;
    margin-bottom: 1rem;
    position: absolute;
}

h1 {
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.projet {
   
    display: flex;
    margin-top: 0px;
    margin-left: 20px;
    flex-direction: column;
}

.projet img{
    width: 300px;
    height: 200px;
}

.nav2 {
    display: none;
}

.contactLink {
    bottom: 56px;
    right: 10px;
    position: fixed;
    display: flex;
    border-radius: 100%;
    height: 60px;
    background-color: #ffba31;
    width: 60px;
    align-items: center;
    justify-content: center;
}

.iconContact{
    color: black;
}

.pageContact {
    border: 2px solid black;
    border-radius: 10px;
    display: none;
    width: 315px;
    height: 221px;
    bottom: 93px;
    background: white;
    position: fixed;
    right: 18px;
    box-shadow: 5px 5px 5px black;
    flex-direction: column;
}
.infoContact {
    margin: 10px;
}
.contactTitre {
    display: flex;
}
.contactTitre h3 {
    border-top-left-radius: 10px;
    padding-top: 8px;
    height: 50px;
    width: 100%;
}
.Xcontact {
    border-top-right-radius: 10px;
    height: 50px;
    background: #ffba31;
    padding: 10px;
    transition: 0.2s ease-in-out;
}
.Xcontact:hover {
    background-color: red;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
    width: 70%;
    background-color: #ffba31;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contenuApropos{
    padding-top: 58px;
    display: none;
    width: 100%;
}
.contenuApropos h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.apropos{
    margin-top: 25px;
}
.nomPrenom2 {
    margin-left: 6px;
    margin-right: 6px;
}
.introduction2{
    margin:20px 20px 20px 20px;
    text-align: center;
}
.buttonCv {
    margin-top: 20px;
    background-color: #ffba31;
    border: none;
    width: 71%;
    height: 2.5rem;
    border-radius: 20px;
    transition: all 0.5s ease-out;
}

.buttonCv:hover{
    background-color: #ffba31b7;
    scale: 0.97;
}
.buttonCv a:hover{
    color: #000000;
}

.buttonCv a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.5s ease-out
}
.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.repartionCv {
    margin-right: 20px;
    margin-left: 20px;
    height: 47rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categorieCv{
    width: 100%;
    height: 50%;
    border-bottom: 1px dashed #ffba31;
    background-color: black;
}
.categorieCv h3{
    text-align: center;
    width: 100%;
    background-color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffba31;
}
.categorieCvList {
    height: 51%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
svg.bi.bi-film {
    color: white;
}
svg.bi.bi-person-walking {
    color: white;
}
svg.bi.bi-code-square {
    color: white;
}

.categorieCv1{
    border-left: 1px dashed #ffba31;
    border-bottom: 1px dashed #ffba31;
    width: 100%;
    height: 50%;
    background-color: black;
}
.categorieCv1 h3{
    text-align: center;
    width: 100%;
    background-color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffba31;
}
.categorieCv1List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.categorieCv1List p{
    padding: 5px;
}

.categorieCv2{
    width: 100%;
    height: 50%;
    background-color: black;
    border-right: 1px dashed #ffba31;
    
}
.categorieCv2 h3{
    text-align: center;
    width: 100%;
    background-color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffba31;
}
.categorieCv2 p{
    color: white;
    text-align: center;
}

.categorieCv3{
    border-top: 1px dashed #ffba31;
    width: 100%;
    height: 50%;
    background-color: black;
}
.categorieCv3 h3{
    text-align: center;
    width: 100%;
    background-color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffba31;
}
.categorieCv3 p{
    color: white;
    text-align: center;
}
.experienceCv {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    width: 90%;
    flex-direction: column;
}
.experienceCv h3{
    text-align: center;
    width: 96%;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #000000;
}
.experienceList{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.experienceList hr{
    background-color: #000000;
    width: 2px;
    height: 30px;
}

.contenuContact{
    width: 100%;
    display: none;
}
.contact {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.champs{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
}
.email{
    border-radius: 10px;
    width: 40%;
    height: 30px;
    margin-bottom: 20px;
}
.object{
    border-radius: 10px;
    height: 30px;
    margin-bottom: 20px;
}
.message{
    border-radius: 10px;
    height: 200px;
    margin-bottom: 20px;
}
.formulaire{
    width: 50%;
    margin-right: 20px;
    display: none;
}
.illustation {
    border-radius: 30px;
    color: #ffba31;
    background-color: black;
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.telephone {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.telephone p{
    margin-left: 20px;
}
.mail {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mail p{
    margin-left: 1px;
}

.mesReseaux{
    margin-top: 25px;
}

.mesReseaux a{
    margin-left: 50px;
    text-decoration: none;
    color: #ffba31;
}

footer{
    display: flex;
    width: 100%;
    height: 36px;
    background-color: #ffba31;
    justify-content: center;
    align-items: center;
}
footer p{
    margin-top: 20px;
}

.leProjet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.d-block {
    width: 270px;
    height: 170px;
}

.carousel-item.active {
    display: flex !important;
    justify-content: space-evenly;
    flex-direction: column;
}

.carousel-inner {
    padding-top: 14px;

}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill="black" fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/></svg>')!important;
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill="black" fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/></svg>')!important;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex !important;
    justify-content: space-evenly;
}
.carousel-indicators [data-bs-target] {
    display: block;
    position: relative !important;
    top: 100px !important;
    background-color: #000000 !important;
}

span.carousel-control-prev-icon {
    margin-bottom: 70px;
    position: relative;
    display: block;
}
.MesSites {
    display: none;
}
.MesJeuxVideo{
    display: none;
}
.MesSitesMobile{
    display: block;
}
.language {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 271px;
    display: flex;
    background-color: #ffba3142;
    height: 84px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.language1 {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 271px;
    display: flex;
    background-color: #ffba3142;
    height: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.languageUtiliser{
    border-radius: 50px;
    margin: 5px;
    display: flex;
    margin-top: 10px;
    width: 25%;
    height: 25px;
    background-color: #fffbef;
    justify-content: center;
    align-items: center;
}

.languageUtiliser1{
    border-radius: 50px;
    margin: 5px;
    display: flex;
    margin-top: 10px;
    width: 40%;
    height: 25px;
    background-color: #fffbef;
    justify-content: center;
    align-items: center;
}

.languageUtiliser p{
    font-weight: 700;
    font-size: 0.6rem;
    text-align: center;
    color: #323232;
    margin-bottom: 0px;
}

.languageUtiliser1 p{
    font-weight: 700;
    font-size: 0.7rem;
    text-align: center;
    color: #323232;
    margin-bottom: 0px;
}
#lesInfosParoisse {
    border: 2px solid;
    margin-top: 94px;
    margin-left: 115px;
    background-color: #ffffff;
    position: absolute;
    width: 911px;
    height: 384px;
    z-index: 99;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}
.enTeteDetailSite{
    display: flex;
}
.enTeteDetailSite h3{
    font-size: 1.4rem;
    border-top-left-radius: 10px;
    padding-top: 12px;
    height: 50px;
    width: 93%;
}
.paragrapheSiteDetail {
    padding: 15px;
    line-height: 27px;
}
.XdetailSite {
    display: flex;
    border-top-right-radius: 10px;
    height: 50px;
    background: #ffba31;
    padding: 10px;
    transition: 0.2s ease-in-out;
    width: 7%;
    justify-content: center;
}
.XdetailSite:hover {
    background-color: red;
    cursor: pointer;
}

.infoSite:hover{
    cursor: pointer;
}
#lesInfosCiwos {
    border: 2px solid;
    margin-top: 94px;
    margin-left: 115px;
    background-color: #ffffff;
    position: absolute;
    width: 911px;
    height: 384px;
    z-index: 99;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}
.infoSiteCiwos:hover{
    cursor: pointer;
}
#lesInfosTetris {
    border: 2px solid;

    margin-left: 57px;
    background-color: #ffffff;
    position: absolute;
    width: 911px;
    height: 384px;
    z-index: 99;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}
.infoSiteTetris:hover{
    cursor: pointer;
}
#lesInfosSnake {
    border: 2px solid;

    margin-left: 57px;
    background-color: #ffffff;
    position: absolute;
    width: 911px;
    height: 384px;
    z-index: 99;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}
.infoSiteSnake:hover{
    cursor: pointer;
}

#lesInfosZombie {
    border: 2px solid;

    margin-left: 57px;
    background-color: #ffffff;
    position: absolute;
    width: 911px;
    height: 384px;
    z-index: 99;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}
.infoSiteZombie:hover{
    cursor: pointer;
}

#lesInfosSae301 {
    border: 2px solid;
    margin-top: 94px;
    margin-left: 115px;
    background-color: #ffffff;
    position: absolute;
    width: 911px;
    height: 384px;
    z-index: 99;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}
.infoSiteSae301:hover{
    cursor: pointer;
}

#lesInfosBootstrap {
    border: 2px solid;
    margin-top: 94px;
    margin-left: 115px;
    background-color: #ffffff;
    position: absolute;
    width: 911px;
    height: 384px;
    z-index: 99;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}
.infoSiteBootstrap:hover{
    cursor: pointer;
}
#lesInfosVuejs {
    border: 2px solid;
    margin-top: 94px;
    margin-left: 115px;
    background-color: #ffffff;
    position: absolute;
    width: 911px;
    height: 384px;
    z-index: 99;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}
.infoSiteVuejs:hover{
    cursor: pointer;
}

#lesInfosSae203 {
    border: 2px solid;
    margin-top: 94px;
    margin-left: 115px;
    background-color: #ffffff;
    position: absolute;
    width: 911px;
    height: 384px;
    z-index: 99;
    display: none;
    flex-direction: column;
    border-radius: 10px;
}
.infoSiteSae203:hover{
    cursor: pointer;
}
.MesSitesMobile h2{
    margin-top: 90px;
    margin-left: 20px;
}
.btnSite {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lesSite2{
    display: none;
}
.lesSites{
    display: block;
}
.btnDeuxiemePartie {
    padding: 10px;
}
.btnDeuxiemePartie p{
    font-size: 1.3rem;
}
.MesJeuxVideoMobile{
    display: block;
}
.MesJeuxVideoMobile h2{
    margin-top: 45px;
    margin-left: 20px;
    margin-bottom: 45px;
}



@media screen and (min-width: 480px) {
    main {
        display: flex;
    }
    .navMobile{
        display: none;
    }
    .btnSite{
        display: none;
    }
    aside{
        opacity: 100;
        height: 155vh;
        background-color: #ffba31;
        width: 20%;
        display: block !important;

    }
    .link {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .link hr{
        margin: 0px;
        width: 3px;
        background-color: black;
        height: 30px;
    }
    .cercle{
        width: 8px;
        height: 8px;
        background-color: black;
        border-radius: 80%;
    }
    .linkNav{
        list-style: none;
    }
    .linkNav a{
        font-size: 1.3rem;
        color: black;
        text-decoration: none;

    }
    .Un{
        opacity: 0.1;

    }
    .deux{
        opacity: 0.1;

    }
    .trois{
        opacity: 0.9;

    }
    .quatre{
        opacity: 0.1;

    }
    .imgComptetence {
        /* padding: 15px; */
        width: 50px;
        height: 50px;
    }
    .contenuPortfolio{

        padding-top: 0%;
    }
    .projet_align {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        padding: 10px 200px 10px 200px;
        border: 1px solid black;
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .btn_slide {
        margin-top: -60px;
    }

    .MesSites {
        width: 88%;
        display: flex;
        margin: 50px;
        flex-direction: column;
        /* align-content: center; */
    }

    .MesJeuxVideo {
        display: flex;
        width: 88%;
        /* display: block; */
        margin: 50px;
        flex-direction: column;
    }

    .MesSitesMobile{
        display: none;
    }
    
    .projet{
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
        margin-left: 20px;
        flex-direction: row;
        flex-wrap: wrap;    
    }
    
    .projet img{
        width: 300px;
        height: 200px;
    }

    .contenuProjet {
        display: flex;
        flex-direction: column;
    }

    .language {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 271px;
        display: flex;
        background-color: #ffba3142;
        height: 84px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .language1 {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 271px;
        display: flex;
        background-color: #ffba3142;
        height: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .languageUtiliser{
        border-radius: 50px;
        margin: 5px;
        display: flex;
        margin-top: 10px;
        width: 25%;
        height: 25px;
        background-color: #fffbef;
        justify-content: center;
        align-items: center;
    }

    .languageUtiliser1{
        border-radius: 50px;
        margin: 5px;
        display: flex;
        margin-top: 10px;
        width: 40%;
        height: 25px;
        background-color: #fffbef;
        justify-content: center;
        align-items: center;
    }

    .languageUtiliser p{
        font-weight: 700;
        font-size: 0.6rem;
        text-align: center;
        color: #323232;
        margin-bottom: 0px;
    }

    .languageUtiliser1 p{
        font-weight: 700;
        font-size: 0.7rem;
        text-align: center;
        color: #323232;
        margin-bottom: 0px;
    }
    
    .nav2 {
        border-radius: 50px;
        display: flex;
        margin-top: 170px;
        margin-right: 50px;
        height: 20rem;
        width: 3%;
        background-color: #ffba31;
    }

    .linkSvg {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        justify-content: center;
    }
    .linkNavSvg{
        padding-top: 20px;
        list-style: none;
    }
    .linkNavSvg a{
        color: black;
        text-decoration: none;
    }
    .Iun{
        opacity: 0.1;

    }
    .Ideux{
        opacity: 0.1;

    }
    .Itrois{
        opacity: 0.9;
    }
    .Iquatre{
        opacity: 0.1;

    }

    .contenuAccueil{
        height: 100vh !important;
        width: 93%;
        display: none;
        align-items: flex-start;
        flex-direction: row;
    }


    .alignBlockAcc{
        position: relative;
        right: 71px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description {
        margin-top: 20px;
        width: 60%;
        margin-left: 20px;
    }

    .sousTitreAcc{
        margin-top: 15px;
        font-size: 1.75rem;
        width: 60%;
    }

    .phtProfil {
        margin-bottom: 20px;
        margin-top: 40px;
        border-radius: 221px;
        width: 30%;
    }
    .MesCompetences{
        margin-right: 20px;
        margin-top: 20px;
        height: 100vh;
        display: flex;
        width: 40%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .imgComptetence {
        padding: 15px;
        width: 100px;
        height: 100px;
    }
    h2 {
        display: flex;
        text-decoration: underline;
        margin-bottom: 12px;
        font-size: 2rem;
    }
    .nomPrenom {
        margin-left: 10px;
        text-align: center;
        color: #ffba31;
    }
    h3 {
        text-align: center;
        width: 30%;
        background-color: #ffba31;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .introduction{
        margin-left: 80px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .buttonAcc{
        background-color: #ffba31;
        border: none;
        width: 30%;
        height: 2.5rem;
        border-radius: 20px;
        transition: all 0.5s ease-out
    }
    .buttonAcc li{
        list-style: none;
    }
    .buttonAcc li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        transition: all 0.5s ease-out
    }
    .buttonAcc:hover{
        background-color: #ffba31b7;
        scale: 0.97;
    }
    .buttonAcc li a:hover{
        color: #000000;
    }
    
    .contenuApropos{
        display: none;
        width: 75%;
    }
    .contenuApropos h2{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .nomPrenom2 {
        margin-left: 6px;
        margin-right: 6px;
        margin-bottom: 0px;
    }
    
    .buttonCv{
        margin-top: 20px;
        background-color: #ffba31;
        border: none;
        width: 15%;
        height: 2.5rem;
        border-radius: 20px;
        transition: all 0.5s ease-out
    }
    
    .buttonCv:hover{
        background-color: #ffba31b7;
        scale: 0.97;
    }
    .buttonCv a:hover{
        color: #000000;
    }
    
    .buttonCv a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        transition: all 0.5s ease-out
    }
    .cv {
        display: flex;
        flex-direction: column;
    }
    .repartionCv {
        margin-left: 20px;
        width: 75%;
        height: 21rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .categorieCv{
        width: 49%;
        height: 50%;
        border-bottom: 1px dashed #ffba31;
        background-color: black;
    }
    .categorieCv h3{
        text-align: center;
        width: 100%;
        background-color: #000000;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #ffba31;
    }
    .categorieCvList {
        height: 51%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    svg.bi.bi-film {
        color: white;
    }
    svg.bi.bi-person-walking {
        color: white;
    }
    svg.bi.bi-code-square {
        color: white;
    }
    
    .categorieCv1{
        border-left: 1px dashed #ffba31;
        border-bottom: 1px dashed #ffba31;
        width: 49%;
        height: 50%;
        background-color: black;
    }
    .categorieCv1 h3{
        text-align: center;
        width: 100%;
        background-color: #000000;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #ffba31;
    }
    .categorieCv1List {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: white;
    }
    .categorieCv1List p{
        padding: 5px;
    }
    
    .categorieCv2{
        width: 49%;
        height: 50%;
        background-color: black;
        border-right: 1px dashed #ffba31;
        
    }
    .categorieCv2 h3{
        text-align: center;
        width: 100%;
        background-color: #000000;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #ffba31;
    }
    .categorieCv2 p{
        color: white;
        text-align: center;
    }
    
    .categorieCv3{
        width: 49%;
        height: 50%;
        background-color: black;
    }
    .categorieCv3 h3{
        text-align: center;
        width: 100%;
        background-color: #000000;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #ffba31;
    }
    .categorieCv3 p{
        color: white;
        text-align: center;
    }
    .experienceCv{
        width: 40%;
        margin-right: 20px;
        margin-bottom:10px;
        margin-top: 25px;
    }
    .experienceCv h3{
        
        text-align: center;
        width: 100%;
        margin-top: 1px;
        margin-bottom: 10px;
        color: #000000;
    }
    .experienceList{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .experienceList hr{
        background-color: #000000;
        width: 2px;
        height: 30px;
    }
    
    .contenuContact{
        width: 75%;
        display: none;
    }
    .contact {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }


    .champs{
        display: flex;
        flex-direction: column;
    }
    label{
        margin-bottom: 5px;
    }
    .email{
        border-radius: 10px;
        width: 40%;
        height: 30px;
        margin-bottom: 20px;
    }
    .object{
        border-radius: 10px;
        height: 30px;
        margin-bottom: 20px;
    }
    .message{
        border-radius: 10px;
        height: 200px;
        margin-bottom: 20px;
    }
    .formulaire{
        width: 50%;
        margin-right: 20px;
        display: none;
    }
    .illustation {
        border-radius: 30px;
        color: #ffba31;
        background-color: black;
        display: flex;
        width: 100%;
        height: 50vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .telephone {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        flex-direction: row;
    }
    .telephone p{
        margin-left: 20px;
    }
    .mail {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .mail p{
        margin-left: 20px;
    }
    
    .mesReseaux{
        margin-top: 25px;
    }
    
    .mesReseaux a{
        margin-left: 50px;
        text-decoration: none;
        color: #ffba31;
    }
    .carousel-item.active {
        display: flex !important;
        flex-direction: row;
    }
    .mobile{
        display: none;
    }
    .carousel-control-prev {
        width: 4% !important;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 4% !important;
    }
    span.carousel-control-prev-icon {
        display: block;
        margin-bottom: 70px;
        position: relative;

    }
    span.carousel-control-next-icon {
        display: block;
        margin-bottom: 70px;
        position: relative;
    }
    .carousel-indicators [data-bs-target] {
        display: block;
        position: relative !important;
        top: 100px !important;
        background-color: #000000 !important;
    }
    #lesInfosParoisse {
        border: 2px solid;
        margin-top: 94px;
        margin-left: 115px;
        background-color: #ffffff;
        position: absolute;
        width: 911px;
        height: 384px;
        z-index: 99;
        display: none;
        flex-direction: column;
        border-radius: 10px;
    }
    .enTeteDetailSite{
        display: flex;
    }
    .enTeteDetailSite h3{
        font-size: 1.4rem;
        border-top-left-radius: 10px;
        padding-top: 12px;
        height: 50px;
        width: 93%;
    }
    .paragrapheSiteDetail {
        padding: 15px;
        line-height: 27px;
    }
    .XdetailSite {
        display: flex;
        border-top-right-radius: 10px;
        height: 50px;
        background: #ffba31;
        padding: 10px;
        transition: 0.2s ease-in-out;
        width: 7%;
        justify-content: center;
    }
    .XdetailSite:hover {
        background-color: red;
        cursor: pointer;
    }

    .infoSite:hover{
        cursor: pointer;
    }
    #lesInfosCiwos {
        border: 2px solid;
        margin-top: 94px;
        margin-left: 115px;
        background-color: #ffffff;
        position: absolute;
        width: 911px;
        height: 384px;
        z-index: 99;
        display: none;
        flex-direction: column;
        border-radius: 10px;
    }
    .infoSiteCiwos:hover{
        cursor: pointer;
    }
    #lesInfosTetris {
        border: 2px solid;

        margin-left: 57px;
        background-color: #ffffff;
        position: absolute;
        width: 911px;
        height: 384px;
        z-index: 99;
        display: none;
        flex-direction: column;
        border-radius: 10px;
    }
    .infoSiteTetris:hover{
        cursor: pointer;
    }
    #lesInfosSnake {
        border: 2px solid;

        margin-left: 57px;
        background-color: #ffffff;
        position: absolute;
        width: 911px;
        height: 384px;
        z-index: 99;
        display: none;
        flex-direction: column;
        border-radius: 10px;
    }
    .infoSiteSnake:hover{
        cursor: pointer;
    }

    #lesInfosZombie {
        border: 2px solid;

        margin-left: 57px;
        background-color: #ffffff;
        position: absolute;
        width: 911px;
        height: 384px;
        z-index: 99;
        display: none;
        flex-direction: column;
        border-radius: 10px;
    }
    .infoSiteZombie:hover{
        cursor: pointer;
    }

    #lesInfosSae301 {
        border: 2px solid;
        margin-top: 94px;
        margin-left: 115px;
        background-color: #ffffff;
        position: absolute;
        width: 911px;
        height: 384px;
        z-index: 99;
        display: none;
        flex-direction: column;
        border-radius: 10px;
    }
    .infoSiteSae301:hover{
        cursor: pointer;
    }

    #lesInfosBootstrap {
        border: 2px solid;
        margin-top: 94px;
        margin-left: 115px;
        background-color: #ffffff;
        position: absolute;
        width: 911px;
        height: 384px;
        z-index: 99;
        display: none;
        flex-direction: column;
        border-radius: 10px;
    }
    .infoSiteBootstrap:hover{
        cursor: pointer;
    }
    #lesInfosVuejs {
        border: 2px solid;
        margin-top: 94px;
        margin-left: 115px;
        background-color: #ffffff;
        position: absolute;
        width: 911px;
        height: 384px;
        z-index: 99;
        display: none;
        flex-direction: column;
        border-radius: 10px;
    }
    .infoSiteVuejs:hover{
        cursor: pointer;
    }

    #lesInfosSae203 {
        border: 2px solid;
        margin-top: 94px;
        margin-left: 115px;
        background-color: #ffffff;
        position: absolute;
        width: 911px;
        height: 384px;
        z-index: 99;
        display: none;
        flex-direction: column;
        border-radius: 10px;
    }
    .infoSiteSae203:hover{
        cursor: pointer;
    }
    .MesJeuxVideoMobile{
        display: none;
    }
    .contactLink {
        bottom: 56px;
        right: 40px;

    }
    .portfolio {
        width: 75%;
    }


}


